<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image:  url('http://2.bp.blogspot.com/--C_xlntu9gY/UDUJxmD8I_I/AAAAAAAAAq8/F_tbfzqFaFY/s1600/AbbeyBookshop_2.JPG');">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="col-md-12">
                <h2 class="title text-center">Our courses </h2>
                <br />
                <div class="blogs-1" id="blogs-1">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <img class="img img-raised rounded" src="assets/img/Blockchain1.png">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h6 class="category text-info">Technology</h6>
                                        <h3 class="card-title">
                                            <a href="https://sites.google.com/view/blockchain/home">Blockchain: Energizing The Future</a>
                                        </h3>
                                        <p class="card-description">
                                            In this course we try to find energy consumption in crypto mining , basics of blockchain , and use of the energy-block chain in different sectors like EV, building & industries . We also try to make students aware about energy tokens like the energy web and will also try to show them how various new crypto currencies are doing energy efficient mining.
                                        </p>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h6 class="category text-danger">
                                            <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> sustainability
                                        </h6>
                                        <h3 class="card-title">
                                            <a href="https://sites.google.com/view/energy-101/home">Energy 101: Mastering Sustainability.</a>
                                        </h3>
                                        <p class="card-description">
                                            In this course we are going to cover the various types and utilities of sustainable energy as well as its importance in our daily life.we will introduce the concept of carbon based emissions, unconventional fuels,energy basics,energy storage and transportation and also focus to make students aware about important aspects of solar,bio,wind and nuclear energy. 
                                        </p>
                                       
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <img class="img img-raised rounded
                                    " src="assets/img/Towards sustainability1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blogs-1" id="blogs-1">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <img class="img img-raised rounded" src="assets/img/Crash course in Energy1.png">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h6 class="category text-info">CRASH COURSE </h6>
                                        <h3 class="card-title">
                                            <a href="https://www.youtube.com/playlist?list=PLCTDFy155ZTIOGPjead9dAzLoCDgA_9xs">CRASH COURSE IN ENERGY</a>
                                        </h3>
                                        <p class="card-description">
                                            Energy 101 -A Crash Course In Energy is a short 10 days couse whih will cover all the major topics of energy. It is a certified free of cost course available to all the energy enthusiast of our country.
                                        </p>
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h6 class="category text-danger">
                                            <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i>  Energy
                                        </h6>
                                        <h3 class="card-title">
                                            <a href="#pablo">Fundamentals Of Energy</a>
                                        </h3>
                                        <p class="card-description">
                                            This course will cover fundamental topics in energy science. This course is designed for the students who are interested in the field of energy but have no or primitive background. It is a fun course for first-timers and enthusiasm is the only prerequisite.
                                        </p>
                                       
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <img class="img img-raised rounded
                                    " src="assets/img/energyf itc ls3b1.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <img class="img img-raised rounded" src="assets/img/energyad itc ls31.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h6 class="category text-info">Advanced</h6>
                                        <h3 class="card-title">
                                            <a href="https://sites.google.com/view/energyclubiitb-courses-advance/home">Advanced Topics In Energy</a>
                                        </h3>
                                        <p class="card-description">
                                            This course will cover some of the important and interesting topics of the field of energy in detail. There is no prerequisite for this course, though, learners with some basic knowledge in the energy field will find it easier to follow the course.
                                        </p>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



