<div class="main">
    
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <div class="question-box blur-back">
        <h1>Login</h1>
        <label class="login-label"  >Team Name</label><input [(ngModel)]="team">
        <br>
        <label class="login-label" >Member 1</label><input [(ngModel)]="mem1">
        <br>
        <label class="login-label">Member 2</label><input [(ngModel)]="mem2">
        <br>
        <label class="login-label">Member 3</label><input [(ngModel)]="mem3">
        <br>
        <label class="login-label">Member 4</label><input [(ngModel)]="mem4">
        <br>
        <button (click)="contactSubmit()">Submit</button>
    </div>
    
</div>
