<div class="main">
    
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <div class="question-box blur-back">
        <h1>Login</h1>
        <label class="login-label">Team Name</label><input>
        <br>
        <label class="login-label">Member 1</label><input>
        <br>
        <label class="login-label">Member 2</label><input>
        <br>
        <label class="login-label">Member 3</label><input>
        <br>
        <label class="login-label">Member 4</label><input>
        <br>
        <button>Submit</button>
    </div>
    
</div>
