<div class="main">
    <div class="bullets blur-back">
        <p><img src="assets/img/money/money.png" class="counter-icon">Cash : {{cash}}</p>
        <p><img src="assets/img/money/crowd.png" class="counter-icon">Hostages : {{hostage}}</p>
        <p><img src="assets/img/money/drill.png" class="counter-icon">Drilling sessions : {{drills}}</p>
    </div>
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <div class="question-box blur-back">
        <p class="text-center" style="color:white">
            You start moving cash as you approach the end of the heist. Your choice of choosing your team affects you
            here.
            <br>
            Answer this question to transfer the cash efficiently.
            <br>
            Which of the following startups is not founded by an IITIAN ?
        </p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card justify-content-center">
                    <div class="card-title text-center">
                        <h3 style="margin: 0">Oyo</h3>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-round" (click)="par61='Oyo';contactSubmit() "
                            style="margin-top: 0">Select</button>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card justify-content-center">
                    <div class="card-title text-center">
                        <h3 style="margin: 0">Zomato</h3>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-round" (click)="par61='Zomato';contactSubmit() "
                            style="margin-top: 0">Select</button>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card justify-content-center">
                    <div class="card-title text-center">
                        <h3 style="margin: 0">Ola</h3>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-round" (click)="par61='Ola';contactSubmit() "
                            style="margin-top: 0">Select</button>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card justify-content-center">
                    <div class="card-title text-center">
                        <h3 style="margin: 0">Flipkart</h3>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-round" (click)="par61='Flipkart';contactSubmit() "
                            style="margin-top: 0">Select</button>
                    </p>
                </div>
            </div>
        </div>

        <!-- <button (click)="contactSubmit()">Submit</button> -->
    </div>

</div>