<div class="main">
    <div class="bullets blur-back">
        <p><img src="assets/img/money/money.png" class="counter-icon">Cash</p>
        <p><img src="assets/img/money/crowd.png" class="counter-icon">Hostages</p>
        <p><img src="assets/img/money/money.png" class="counter-icon">Drilling sessions</p>
    </div>
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <div class="question-box blur-back">
        <h1>Question</h1>
        <input>
        <br>
        <button>Submit</button>
    </div>
    <div class="player-cards">
        <div class="job-card rio">
            <h4 style="text-align: center;">Name</h4>
        </div>
    </div>
    
</div>

