<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://webunwto.s3.eu-west-1.amazonaws.com/styles/article_main_image/s3/2019-09/hotel-energy.jpg?itok=RtNOOlsP');">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">About Us</h1>
                <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Who we are?</h2>
            <h5 class="description">Indian Institute of Technology, Bombay is home to some of the brightest and most aware technical minds of the country. It is these minds that will carry the country forward into the next century and the energy problem is undoubtedly one of the largest problems they will have to address.​ 
                Energy club is a group of highly motivated and concerned students about the future
of energy and sustainability.We conduct discussions,debates and various events
time to time for making students of our institute aware about these topics.Apart from
the college activities we have also collabrated many times with many top
international institutions where researchers from all over the globe presented their
work.<br>
During the break time we also run diffrent courses for all energy enthusiasts.Our
main vision is to make people aware about the sustainability and conservation of
energy</h5> <br><br>
        </div>
    </div>
</section>
<section >
  <div class="team-2 section-image section4" style="background-image: url(assets/img/daniel-buckle-GE5OTnESaXU-unsplash.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title"> Our Team </h2>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/bitthal.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Bitthal Parida</h4>
                        <h6 class="category">Institute Energy secretary</h6>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/bitthal-parida-bb19b3191/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/paridabitthal/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="http://api.whatsapp.com/send?phone=918652580000" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/arjun.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Arjun Deshmukh</h4>
                        <h6 class="category">Manager</h6>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/arjundeshmukh/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/_arjundeshmukh/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=919420882780" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="assets/img/Anokhi.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Anokhi Mehta</h4>
                        <h6 class="category">Convenor</h6>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/search/results/all/?keywords=anokhi%20mehta&origin=RICH_QUERY_SUGGESTION&position=0&searchId=acc9c7bf-7f5d-46c5-828f-c138229bffdc&sid=8%40_" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/anokhimehta_/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=919820984125" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-image">
                      <a href="#pablo">
                          <img class="img img-raised rounded" src="assets/img/arpita.jpeg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Arpita Joshi</h4>
                      <h6 class="category">Convenor</h6>
                      <div class="card-footer">
                        <a href="https://www.linkedin.com/in/arpita-joshi-395b58221/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/arpitaa_joshi/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=919356863317" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-image">
                      <a href="#pablo">
                          <img class="img img-raised rounded" src="assets/img/jay.jpeg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Jay Soni</h4>
                      <h6 class="category">Convenor</h6>
                      <div class="card-footer">
                        <a href="https://www.linkedin.com/in/jay-soni-609/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/jay.soni822/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=917024664756" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-image">
                      <a href="#pablo">
                          <img class="img img-raised rounded" src="assets/img/utkarsh.jpeg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Utkarsh Bhardwaj</h4>
                      <h6 class="category">Convenor</h6>
                      <div class="card-footer">
                        <a href="https://www.linkedin.com/in/utkarsh-bhardwaj-94828b213/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/utkarsh.bhardwaj.5473894/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=916204090914" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
                <div class="card-image">
                    <a href="#pablo">
                        <img class="img img-raised rounded" src="assets/img/yash.jpeg
                        " />
                    </a>
                </div>
                <div class="card-body" style="align-item : center">
                    <h4 class="card-title">Yash Saraogi</h4>
                    <h6 class="category">Convenor</h6>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/yash-saraogi-00a797203/" class="btn btn-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/yash_saraogi666/" class="btn btn-icon btn-dribbble btn-round"><i class="fa fa-instagram"></i></a>
                        <a href="http://api.whatsapp.com/send?phone=918602861690" class="btn btn-icon btn-twitter btn-round"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


</section>