<div class="main">
    <div class="bullets blur-back">
        <p><img src="assets/img/money/money.png" class="counter-icon">Cash : {{cash}}</p>
        <p><img src="assets/img/money/crowd.png" class="counter-icon">Hostages : {{hostage}}</p>
        <p><img src="assets/img/money/drill.png" class="counter-icon">Drilling sessions : {{drills}}</p>
    </div>
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <!-- <div class="question-box blur-back">

        <h1>Question 1 </h1>
        <input [(ngModel)]="par51">
        <br>
        <h1>Question 2 </h1>
        <input [(ngModel)]="par52">
        <br>
        <h1>Question 3</h1>
        <input [(ngModel)]="par53">
        <br>
        <button (click)="contactSubmit()">Submit</button>
    </div> -->
    <div class="question-box blur-back">
        <div *ngIf="index==0">
            <p class="text-center" style="color:white">
                An internal conflict breaks out in the mint. To settle the conflict you have to either kill BERLIN or
                NAIROBI. Both of them have their own merits and demerits. </p>

            <p class="text-center" style="color:white">
                Who would you kill?
            </p>

            <!-- <input [(ngModel)]="par11"> -->

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">Berlin</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par51='Berlin';contactSubmit() "
                                style="margin-top: 0">Select</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">Nairobi</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par51='Nairobi';contactSubmit() "
                                style="margin-top: 0">Select</button>
                        </p>
                    </div>
                </div>
            </div>


        </div>

        <div *ngIf="index==1">
            <p class="text-center" style="color:white">
                Also, you fall short of players so you decide to either recruit STOCKHOLM or LISBON. Again both have
                their own merits and demerits.

            </p>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">STOCKHOLM</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par52='STOCKHOLM';contactSubmit() "
                                style="margin-top: 0">Select</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">LISBON</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par52='LISBON';contactSubmit() "
                                style="margin-top: 0">Select</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <input [(ngModel)]="par12"> -->


        </div>

        <div *ngIf="index==2">
            <p class="text-center" style="color:white">

                Bonus Q

            </p>

            <p class="text-center" style="color:white">
                Who planned the Bank of Spain Heist ?
            </p>

            <!-- <input [(ngModel)]="par13"> -->
            <br>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">The Professor’s Father</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par53='The Professor’s Father';contactSubmit() "
                                style="margin-top: 0">Submit</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">The Professor</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par53='The Professor';contactSubmit() "
                                style="margin-top: 0">Submit</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">Berlin</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par53='Berlin';contactSubmit() "
                                style="margin-top: 0">Submit</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card justify-content-center">
                        <div class="card-title text-center">
                            <h3 style="margin: 0">Palermo</h3>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-round" (click)="par53='Palermo';contactSubmit() "
                                style="margin-top: 0">Submit</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="index==3">
            <h4 class="text-center" style="color:white">Round 5 Completed</h4>
        </div>

        <!-- <button (click)="contactSubmit()">Submit</button> -->
    </div>

</div>