<div class="main">
    <div class="bullets blur-back">
        <p>Cash</p>
        <p>Hostages</p>
        <p>Drilling sessions</p>
    </div>
    <!-- <span class="overlay"></span>
    <span class="back"></span> -->
    <div class="question-box blur-back">
        <h1>Question 1 </h1>
        <input [(ngModel)]="par71">
        <br>
        <button (click)="contactSubmit()">Submit</button>
    </div>
    <div class="player-cards">
        <div class="job-card rio">
            <h4 style="text-align: center;">Name</h4>
        </div>
    </div>
    
</div>


